.container__menu-title{
    color: white;

    /* Adicionando a imagem de fundo */
    background-image: url('https://ik.imagekit.io/ajt99blle/7901954.jpg?updatedAt=1741214507799');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px; /* Para dar espaço ao redor do título */
  }
  
  .container__menu-title > h1{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 135px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
  }
  
  .container__menu-title > hr{
    margin-top: 20px;
    margin-bottom: 5px;
  }
  